{% extends "base.html" %}
{% block body %}
{% load static %}

<div class="fullscreen centered">
    <div class="flexColumn centered">
        <h1 id="q">Q</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="loginBox">
                <h1>Login</h1>
                <label for="id_username">Username</label>
                <input id="id_username" name="username" class="darkInput" required>
                <label for="id_password">Password</label>
                <div>
                    <input id="id_password" type="password" name="password"  class="darkInput" required>
                    <button type="button" class="button colorless" onclick="showHidePassword();">
                        <img id="toggleEyePwImg" src="{% static 'img/eye.svg' %}" alt="Show/Hide password">
                    </button>
                </div>
                <button class="button">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}