[Unit]
Description=Q Scheduler

[Service]
Type=simple
# the specific user that our service will run as
User=q-scheduler
Group=q-scheduler
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
WorkingDirectory=/usr/sbin/q-scheduler/
ExecStart=/usr/sbin/q-scheduler/venv/bin/python3 /usr/sbin/q-scheduler/q_scheduler/main.py
ExecStop=/bin/kill -s 2 $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
