[Unit]
Description=Q Core
Requires=q-core.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=q-core
Group=q-core
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/usr/sbin/q-core/q_core/
ExecStart=/usr/sbin/q-core/venv/bin/gunicorn -c /etc/q-core/gunicorn.conf.py q_core.asgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
