/*
BASE Declaration
 */

:root {
    --level--1: #121212;
    --level-0: #1e1e1e;
    --level-1: #222222;
    --level-1-1: #242424;
    --level-1-2: #262626;
    --level-2: #272727;
    --level-3: #2c2c2c;
    --level-4: #313131;
    --level-5: #363636;
    --level-6: #3b3b3b;
    --level-7: #414141;
    --level-8: #464646;
    --prim: #fb5d08;
    --prim-light: #ffab8a;
    --text: #dedede;
    --text-medium: #999999;
    --text-disabled: #616161;
    --error: #ff2200;
    --off: rgba(254, 127, 95, 0.2);
    --on: rgba(165, 255, 144, 0.2);
}

.disableSelection {
    user-select:none;
   -ms-user-select:none;
   -moz-user-select:none;
   -webkit-user-select:none;
}

body {
    margin: 0;
    background-color: var(--level-0);
    color: var(--text);
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.flexRow {
    display: flex;
    width: 100%;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

*.centered {
    justify-content: center;
    align-items: center;
}

.content {
    font-size: 0.8rem;
    margin-left: 20rem;
    margin-top: 5rem;
    min-width: fit-content;
    transition: margin-left ease-in-out 250ms;
}

.content.close {
    margin-left: 5em;
}

.button,
.buttonLink {
    color: black;
    text-decoration: none;
    margin: 0.5em 0 0.5em 0;
    padding: 0.25em 1em 0.25em 1em;
    background-color: var(--prim);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color ease-in-out 250ms;
}

.button:hover,
.buttonLink:hover {
    background-color: var(--prim-light);
}

::-moz-focus-inner {border:0;}

.select {
    background-color: var(--level-1);
    border: 1px solid var(--level-5);
    color: var(--text);
    margin: 0.5em 0 0.5em 0;
    padding: 0.25em 0.5em 0.25em 0.5em;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    transition: background-color ease-in-out 250ms, border ease-in-out 250ms;
}

.select:hover,
.select:focus {
    background-color: var(--level-0);
    border: 1px solid var(--prim);
    cursor: pointer;
}

.buttonImg {
    filter: invert(55%) sepia(0%) saturate(31%) hue-rotate(206deg) brightness(111%) contrast(89%);
    transition: filter ease-in-out 250ms;
    cursor: pointer;
}

.buttonImg:hover {
    filter: invert();
}

/*
Login Declaration
 */

.fullscreen {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
}

#q {
    font-family: FreeSans, serif;
    font-size: 10em;
    margin-bottom: 2rem;
    margin-top: 0;
    color: var(--prim);
}

.loginBox {
    display: flex;
    flex-direction: column;
    padding: 3.5em;
    background-color: var(--level-2);
}

.table tr td > input {
    margin-bottom: 0.2rem;
    background-color: var(--level-1);
}

/*
Preloading Declaration
 */

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--level-0);
    z-index: 10000;
}

#stop-scrolling {
    height: 100% !important;
    overflow: hidden !important;
}


/*
Modal Declaration
 */
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalBackground:hover {
    cursor: pointer;
}

.modalBox {
    background-color: var(--level-3);
    padding: 4em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: auto;
}

.modalRow {
    display: flex;
    justify-content: center;
}

.bigImg {
    filter: invert(55%) sepia(0%) saturate(31%) hue-rotate(206deg) brightness(111%) contrast(89%);
    width: 8em;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.rotate {
  animation: rotation 2s infinite ease-in-out;
}

.darkInput {
    border: 1px solid var(--level-6);
    border-radius: 3px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    margin: 0.25rem 0 0.25rem 0;
    padding: 0.65rem 1rem 0.65rem 1rem;
    color: var(--text);
    background-color: var(--level-0);
    transition: background-color ease-in-out 250ms, border ease-in-out 250ms;
    width: 23rem;
}

.bigTextArea {
    font-size: 0.8rem;
    width: 30rem;
    min-width: 20rem;
    height: 8rem;
    resize: none;
}

.darkInput:hover,
.darkInput:focus {
    outline: 0;
    border: 1px solid var(--prim);
    background-color: var(--level-0);
}

/*
Menu Declaration
 */

.topbar {
    position: fixed;
    top: 0;
    width: calc(100vw - 22em);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background-color: var(--level-1);
    box-shadow: 0 0.1rem 0.5rem var(--level--1);
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 20em;
    transition: all ease-in-out 250ms;
    z-index: 99;
}

.topbar.close {
    margin-left: 5em;
    width: calc(100vw - 7em);
}

.topbar img {
    height: 2em;
    filter: invert(55%) sepia(0%) saturate(31%) hue-rotate(206deg) brightness(111%) contrast(89%);
    transition: filter ease-in-out 250ms;
}

.topbar .logout {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    transition: background-color ease-in-out 250ms;
}

.topbar .logout:hover {
    background-color: var(--level-3);
}

.topbar .logout:hover img {
    filter: invert();
}

.topbarRight {
    display: flex;
}

.sidebar {
    display: block;
    position: fixed;
    width: 20em;
    overflow: hidden;
    height: 100%;
    color: var(--text);
    text-align: center;
    background-color: var(--level-2);
    left: 0;
    top: 0;
    z-index: 100;
    transition: width ease-in-out 250ms;
    box-shadow: 0.1rem 0 0.5rem var(--level--1);
}

.sidebar h3 {
    margin-bottom: 0.25em;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar.close {
    width: 5em;
}

.sidebar.close li.sidebarRow > p,
.sidebar.close ul:not([class^="sidebarNested"]) > li > a.sidebarRow > p {
    display: none;
}

.sidebar.close .sidebarNav {
    width: 5em;
}

.sidebar.close .sidebarNav {
    overflow: visible;
}

.sidebar.close .sidebarRow > .sidebarNested{
    left: -10em;
    top: auto;
    display: none;
}

.sidebar.close .sidebarRow:hover > .sidebarNested {
    display: flex;
    transform: translateX(100%);
    height: max-content;
}

.sidebarLogo {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    padding: 0.5em 0;
    background-color: var(--level-2);
}

.sidebarLogo img {
    background-color: var(--level-2);
    position: relative;
    z-index: 2;
    margin: 0 auto;
    display: block;
    height: 3.5em;
}

.sidebarSpacer {
    background-color: var(--level-1);
    height: 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
    z-index: 2;
}

.sidebarSeparator {
    background-color: var(--level-1);
    height: 1px;
    position: relative;
    z-index: 2;
}

.sidebarNav {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 20em;
}

.sidebarRow {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    text-decoration: none;
    transition: background-color ease-in-out 250ms;
    cursor: pointer;
}

.sidebarRow:hover {
    background-color: var(--level-4);
}

.sidebarNested .sidebarRow:hover {
    background-color: var(--level-6);
}

.sidebarRow p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em;
    color: var(--text-medium);
    transition: color ease-in-out 250ms;
}

.sidebarRow img {
    height: 2em;
    filter: invert(55%) sepia(0%) saturate(31%) hue-rotate(206deg) brightness(111%) contrast(89%);
    transition: filter linear 250ms;
}

.sidebarRow:hover > img {
    filter: invert();
}

.sidebarRow:hover > p {
    color: var(--text);
}

.sidebarNested {
    background-color: var(--level-4);
    position: absolute;
    top: 0;
    left: 5em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 15em;
    transform: translateX(100%);
    transition: all linear 200ms;
}

.sidebarRow:hover > .sidebarNested {
    transform: translateX(0);
}

.sidebarDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    position: relative;
    z-index: 2;
    background-color: var(--level-2);
    transition: background-color ease-in-out 250ms;
}

.sidebarDiv:hover {
    background-color: var(--level-4);
}

@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(180deg); }
}

@keyframes respin {
    0% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

.sidebarDiv img {
    filter: invert();
}

.sidebarDiv.open img {
    animation: respin 300ms linear;
}

.sidebarDiv.close img {
    transform: rotate(180deg);
    animation: spin 300ms linear;
}

/*
Dashboard Declaration
 */

.dashboardContent {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 1em 0 1em;
}

.dashboardBox {
    display: flex;
    flex-direction: column;
    background-color: var(--level-2);
    color: var(--text);
    width: max-content;
    padding: 1em;
    margin: 1em;
}

.dashboardList {
    display: flex;
    width: 100%;
    padding: 1em;
    margin: 1em;
    background-color: var(--level-2);
}

.dashboardTable {
    border-collapse: collapse;
    width: 100%;
}

.dashboardTable tr td {
    text-align: center;
    padding: 0.25em 1em 0.25em 1em;
}

.dashboardTable tr th {
    padding: 0.5em 1em 0.25em 1em;
}

.dashboardTable tr:nth-child(1) {
    background-color: var(--level-4);
}

.dashboardTable tr:nth-child(odd):not(:nth-child(1)) {
    background-color: var(--level-3);
}

.dashboardTable tr:nth-child(even) {
    background-color: var(--level-2);
}

.graphColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.graphContainer {
    height: 400px;
}

/*
Declaration Declaration
 */

.declarationContent {
    background-color: var(--level-1);
    margin: 1rem;
    box-shadow: 1rem var(--level--1);
    padding: 1rem;
}

.declarationHeader {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--level-2);
}

.declarationList {
    display: flex;
    margin-top: 1em;
    padding: 1em;
    background-color: var(--level-2);
}

.declarationList table {
    width: 100%;
    border-collapse: collapse;
}

.declarationList table tr td {
    text-align: center;
    padding: 0.25em 1em 0.25em 1em;
}

.declarationList table tr th {
    padding: 0.5em 1em 0.25em 1em;
}

.declarationList table tr:nth-child(1) {
    background-color: var(--level-4);
}

.declarationList table tr:nth-child(odd):not(:nth-child(1)) {
    transition: background-color ease-in-out 250ms;
    background-color: var(--level-3);
}

.declarationList table tr:nth-child(even) {
    transition: background-color ease-in-out 250ms;
    background-color: var(--level-2);
}

.declarationSectionHeading {
    margin: 0;
    padding: 0.5rem 0 0.5rem 1rem;
    border: 1px solid var(--level-6);
    border-left: var(--level-1);
    border-right: var(--level-1);
    background-color: var(--level-1);
}

.declarationSectionHeading:hover {
    border: 1px solid var(--level-6);
    border-left: var(--level-1);
    border-right: var(--level-1);
}

.declarationHeading {
    margin: 0.75rem 0 0.75rem 0;
}

.declarationTable {
    width: 100%;
    border-collapse: collapse;
}

.declarationTable tr:nth-child(odd):not(:first-child) {
    background-color: var(--level-1-1);
}

.declarationTable tr:nth-child(even) {
    background-color: var(--level-1-2);
}

.declarationEntry {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.variableContent {
    max-width: 25rem;
    width: 25rem;
    min-width: 25rem;
}

.variableTable {
    width: 100%;
}

.variableInput {
    width: 9rem !important;
}

.smallCell {
    width: 3rem;
}

.normalCell {
    width: 15rem;
}

.largeCell {
    width: 25rem;
}

.declarationBox {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 2em;
    margin-top: 1em;
    background-color: var(--level-2);
}

.declarationBox h3 {
    color: var(--text);
    margin: 0 0 0.25em 0;
}

.declarationBox p {
    display: flex;
    margin: 0.5em 0 0.5em 0;
}

.declarationBox td {
    padding-right: 1em;
}

.declarationBox input {
    border: 1px solid var(--level-4);
    border-radius: 3px;
    margin: 0.5em 0 0.5em 0;
    padding: 0.25em 0.5em 0.25em 0.5em;
    color: var(--text);
    background-color: var(--level-1);
    transition: background-color ease-in-out 250ms, border ease-in-out 250ms;
}

.declarationBox textarea {
    border: 1px solid var(--level-4);
    border-radius: 3px;
    padding: 1em 1em 1em 1em;
    margin: 0.5em 0 0.5em 0;
    font-size: medium;
    width: 25em;
    height: 10em;
    color: var(--text);
    background-color: var(--level-1);
    transition: background-color ease-in-out 250ms, border ease-in-out 250ms;
}

.declarationBox .button {
    margin: 0.5em 0 0.5em 0;
}

.declarationBox input:hover,
.declarationBox input:focus,
.declarationBox textarea:hover,
.declarationBox textarea:focus {
    outline: 0;
    border: 1px solid var(--prim);
    background-color: var(--level-0);
}

.colorless {
    background-color: inherit;
    filter: invert(58%) sepia(0%) saturate(3103%) hue-rotate(343deg) brightness(105%) contrast(85%);
}

.colorless:hover {
    background-color: inherit;
    filter: invert();
}

.clickable:hover {
    cursor: pointer;
    background-color: var(--level-5) !important;
}

.tableSeparator {
    background-color: var(--level-4);
}


.declarationBox table {
    border-collapse: collapse;
}

.tableSeparator td {
    height: 1px;
    padding: 0;
}

/*
Border declaration
 */

.redBorder {
    border: 1px solid var(--error) !important;
}

/*
Slider declaration
 */

.slider {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
    width: 5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    cursor: pointer;
    background-color: var(--level-3);
    border: 1px solid var(--level-6);
    transition: all ease-in-out 200ms;
}

.sliderButton {
    position: relative;
    left: 0.3rem;
    height: 1rem;
    width: 2.35rem;
    border-radius: 0.6rem;
    background-color: var(--level-6);
    transition: all ease-in-out 200ms;
}

.slider:hover {
    border: 1px solid var(--prim);
}

.slider.on {
    background-color: var(--prim);
    border: 1px solid var(--prim);
}

.slider.on .sliderButton {
    left: 2.35rem;
}

.slider.off .sliderButton {
    left: 0.3rem;
}

/*
MediaQuery Declaration
 */

@media screen and (max-width: 1000px) {
    .optional {
        display: none;
    }

    .declarationList {
        font-size: small;
    }
}
