{% extends "menus.html" %}
{% block content %}

<div class="declarationContent flexColumn centered">
    <form method="POST" {% if existing %}action="/declaration/hosttemplate/update/{{ existing.id }}" {% else %}action="/declaration/hosttemplate/create" {% endif %}>
        <div class="declarationBox">
            {% csrf_token %}
            <h3>{% if existing %}Update existing {% else %}Create new {% endif %}Host Template</h3>
        {% if error %}
            <p class="error centered">{{ error }}</p>
        {% endif %}
            <table>
                <tr>
                    <td>
                        <label for="name">Name</label>
                    </td>
                    <td>
                        <input name="name" id="name" required {% if existing %}value="{{ existing.name }}"{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="address">Address</label>
                    </td>
                    <td>
                        <input name="address" id="address" {% if existing %}value="{{ existing.address }}"{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="linked_check">Linked check</label>
                    </td>
                    <td>
                        <select id="linked_check" name="linked_check" class="singleselect">
                            <option value="">&nbsp;</option>
                        {% for entry in checks %}
                        {% if existing.linked_check == entry.id %}
                            <option value="{{ entry.id }}" selected>{{ entry.name }}</option>
                        {% else %}
                            <option value="{{ entry.id }}">{{ entry.name }}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="host_templates">Host Templates</label>
                    </td>
                    <td>
                        <select multiple="multiple" name="host_templates" class="multiselect" id="host_templates">
                            {% for ht in host_templates %}
                            {% if existing and ht.id in existing.host_templates %}
                                <option value="{{ ht.id }}" selected>{{ ht.name }}</option>
                            {% else %}
                                <option value="{{ ht.id }}">{{ ht.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="variables">Variables</label>
                    </td>
                    <td>
                        <pre>#TODO</pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="linked_contacts">Contacts</label>
                    </td>
                    <td>
                        <select id="linked_contacts" multiple="multiple" name="linked_contacts" class="multiselect">
                        {% for contact in contacts %}
                        {% if existing and contact.id in existing.linked_contacts %}
                            <option value="{{ contact.id }}" selected>{{ contact.name }}</option>
                        {% else %}
                            <option value="{{ contact.id }}">{{ contact.name }}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="linked_contact_groups">Contact Groups</label>
                    </td>
                    <td>
                        <select id="linked_contact_groups" name="linked_contact_groups" class="multiselect" multiple="multiple">
                        {% for contact_group in contact_groups %}
                        {% if existing and contact_group.id in existing.linked_contact_groups %}
                            <option value="{{ contact_group.id }}" selected>{{ contact_group.name }}</option>
                        {% else %}
                            <option value="{{ contact_group.id }}">{{ contact_group.name }}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="scheduling_interval">Scheduling Interval</label>
                    </td>
                    <td>
                        <input id="scheduling_interval" name="scheduling_interval" {% if existing.scheduling_interval %}value="{{ existing.scheduling_interval }}"{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="scheduling_period">Scheduling Period</label>
                    </td>
                    <td>
                        <select id="scheduling_period" name="scheduling_period" class="singleselect">
                            <option value="">&nbsp;</option>
                        {% for entry in time_periods %}
                        {% if existing.scheduling_period == entry.id %}
                            <option value="{{ entry.id }}" selected>{{ entry.name }}</option>
                        {% else %}
                            <option value="{{ entry.id }}">{{ entry.name }}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="notification_period">Notification Period</label>
                    </td>
                    <td>
                        <select id="notification_period" name="notification_period" class="singleselect">
                            <option value="">&nbsp;</option>
                        {% for entry in time_periods %}
                        {% if existing.notification_period == entry.id %}
                            <option value="{{ entry.id }}" selected>{{ entry.name }}</option>
                        {% else %}
                            <option value="{{ entry.id }}">{{ entry.name }}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="comment">Comment</label>
                    </td>
                    <td>
                        <textarea name="comment" id="comment" maxlength="1024">{% if existing %}{{ existing.comment }}{% endif %}</textarea>
                    </td>
                </tr>
            </table>
            <button class="button">Submit</button>
        </div>
    </form>
</div>

{% endblock %}