{% extends "menus.html" %}
{% block content %}
{% load static %}
    <div class="declarationContent">
    <div class="declarationHeader">
        <div class="flexRow">
            <a class="buttonLink" href="/declaration/check/create">Add Check</a>
        </div>
    </div>
    <div class="declarationList">
    {% if entries|length == 0 %}
        There is no Check.
    {% else %}
        <table>
            <tr>
                <th><label><input type="checkbox" id="check_all"></label></th>
                <th>ID</th>
                <th>Name</th>
                <th>Check Type</th>
                <th>Command line</th>
                <th>Comment</th>
                <th>Delete</th>
            </tr>
        {% for item in entries %}
            <tr class="clickable" onclick="window.location = '/declaration/check/update/{{ item.id }}';">
                <td class="smallCell"><label><input type="checkbox"></label></td>
                <td class="smallCell" id="id-{{ item.id }}">{{ item.id }}</td>
                <td class="normalCell">{{ item.name }}</td>
                <td class="smallCell">{{ item.check_type }}</td>
                <td>{{ item.cmd|truncatechars:70 }}</td>
                <td class="normalCell">{{ item.comment|truncatechars:20 }}</td>
                <td class="smallCell">
                    <form method="POST" action="/declaration/check/delete/{{ item.id }}">
                        {% csrf_token %}
                        <button class="colorless"><img src="{% static 'img/delete.svg' %}" alt="Delete"></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    </div>
</div>
{% endblock %}