{% extends "menus.html" %}
{% block content %}
{% load static %}
    <div class="declarationContent">
    <div class="declarationHeader">
        <div class="flexRow">
            <a class="buttonLink" href="/declaration/globalvariable/create">Add Variable</a>
        </div>
    </div>
    <div class="declarationList">
    {% if entries|length == 0 %}
        There are no variables.
    {% else %}
        <table>
            <tr>
                <th><label><input type="checkbox" id="check_all"></label></th>
                <th>ID</th>
                <th>Name</th>
                <th>Value</th>
                <th>Comment</th>
                <th>Delete</th>
            </tr>
        {% for item in entries %}
            <tr class="clickable" onclick="window.location = '/declaration/globalvariable/update/{{ item.id }}';">
                <td class="smallCell"><label><input type="checkbox"></label></td>
                <td class="smallCell" id="id-{{ item.id }}">{{ item.id }}</td>
                <td class="normalCell">{{ item.key }}</td>
                <td class="normalCell">{{ item.value }}</td>
                <td>{{ item.comment|truncatechars:100 }}</td>
                <td class="normalCell">
                    <form method="POST" action="/declaration/globalvariable/delete/{{ item.id }}">
                        {% csrf_token %}
                        <button class="colorless button"><img src="{% static 'img/delete.svg' %}" alt="Delete"></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    </div>
</div>
{% endblock %}