{% extends "menus.html" %}
{% block content %}
{% load static %}
{% load time %}
<div class="declarationContent flexColumn centered">
    <form method="POST" {% if existing %}action="/declaration/proxy/update/{{ existing.id }}" {% else %}action="/declaration/proxy/create" {% endif %}>
        <div class="declarationBox">
            {% csrf_token %}
            <h3>{% if existing %}Update existing {% else %}Create new {% endif %}Proxy</h3>
        {% if error %}
            <p class="error centered">{{ error }}</p>
        {% endif %}
            <table id="timeperiod_table">
                <tr>
                    <td>
                        <label for="name">Name</label>
                    </td>
                    <td>
                        <input name="name" id="name" required {% if existing %}value="{{ existing.name }}" {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="address">Address</label>
                    </td>
                    <td>
                        <input name="address" id="address" required {% if existing %}value="{{ existing.address }}"{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="port">Port</label>
                    </td>
                    <td>
                        <input name="port" id="port" required value="{% if existing %}{{ existing.port }}{% else %}8443{% endif %}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="web_address">Web Address</label>
                    </td>
                    <td>
                        <input name="web_address" id="web_address" required {% if existing %}value="{{ existing.web_address }}"{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="web_port">Web Port</label>
                    </td>
                    <td>
                        <input name="web_port" id="web_port" required value="{% if existing %}{{ existing.web_port }}{% else %}4443{% endif %}">
                    </td>
                </tr>
                <tr class="tableSeparator"><td></td><td></td></tr>
                <tr>
                    <td>
                        <label for="disabled">Disabled</label>
                    </td>
                    <td>
                        <input type="checkbox" id="disabled" name="disabled" {% if existing.disabled %}checked{% endif %}>
                    </td>
                </tr>
                <tr class="tableSeparator"><td></td><td></td></tr>
                <tr>
                    <td>
                        <label for="comment">Comment</label>
                    </td>
                    <td>
                        <textarea name="comment" id="comment" maxlength="1024">{% if existing %}{{ existing.comment }}{% endif %}</textarea>
                    </td>
                </tr>
            </table>
            <button class="button">Submit</button>
        </div>
    </form>
</div>
<script src="{% static 'js/q_web_buttons.js' %}"></script>
{% endblock %}