{% extends "menus.html" %}
{% block content %}
{% load static %}
    <div class="declarationContent">
    <div class="declarationHeader">
        <div class="flexRow">
            <a class="buttonLink" href="/declaration/proxy/create">Add Proxy</a>
        </div>
    </div>
    <div class="declarationList">
    {% if entries|length == 0 %}
        There are no proxies.
    {% else %}
        <table>
            <tr>
                <th><label><input type="checkbox" id="check_all"></label></th>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th class="optional">Comment</th>
                <th>Update Declaration</th>
                <th>Generate Configuration</th>
                <th>Delete</th>
            </tr>
        {% for item in entries %}
            <tr class="clickable">
                <td class="smallCell"><label><input type="checkbox"></label></td>
                <td class="smallCell" id="id-{{ item.id }}">{{ item.id }}</td>
                <td class="normalCell">{{ item.name }}</td>
                <td class="normalCell">{{ item.address }}</td>
                <td class="optional">{{ item.comment|truncatechars:100 }}</td>
                <td class="smallCell">
                    <button class="colorless" onclick="updateDeclaration({{ item.id }}, '{{ csrf_token }}');">
                        <img src="{% static 'img/share.svg' %}" alt="Reload Declaration">
                    </button>
                </td>
                <td class="smallCell">
                    <button class="colorless" onclick="generateConfiguration({{ item.id }}, '{{ csrf_token }}');">
                        <img src="{% static 'img/key.svg' %}" alt="Generate Configuration">
                    </button>
                </td>
                <td class="smallCell">
                    <form method="POST" action="/declaration/proxy/delete/{{ item.id }}">
                        {% csrf_token %}
                        <button class="colorless"><img src="{% static 'img/delete.svg' %}" alt="Delete"></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    </div>
</div>
{% endblock %}