[Unit]
Description=Q API
Requires=q-api.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=q-api
Group=q-api
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/var/lib/q-api/q_api
ExecStart=/var/lib/q-api/venv/bin/python3 -c /etc/q/q-api/gunicorn.conf.py q_api.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target