{% extends "menus.html" %}
{% block content %}

<div class="declarationContent flexColumn centered">
    <form method="POST" {% if global_variable %}action="/declaration/globalvariable/update/{{ global_variable.id }}" {% else %}action="/declaration/globalvariable/create" {% endif %}>
        <div class="declarationBox">
            {% csrf_token %}
            <h3>{% if global_variable %}Update existing {% else %}Create new {% endif %}Global Variable</h3>
        {% if error %}
            <p class="error centered">{{ error }}</p>
        {% endif %}

            <table>
                <tr>
                    <td>
                        <label for="name">Name</label>
                    </td>
                    <td>
                        <input name="key" id="name" required {% if global_variable %}value="{{ global_variable.key }}" {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="value">Value</label>
                    </td>
                    <td>
                        <input name="value" id="value" required {% if global_variable %}value="{{ global_variable.value }}" {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="comment">Comment</label>
                    </td>
                    <td>
                        <textarea name="comment" id="comment" maxlength="1024">{% if global_variable %}{{ global_variable.comment }}{% endif %}</textarea>
                    </td>
                </tr>
            </table>
            <button>Submit</button>
        </div>
    </form>
</div>

{% endblock %}