{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="sidebar" id="sidebar">
    <a draggable="false" class="sidebarLogo" href="/"><img draggable="false" alt="logo" src="{% static 'img/q_little.png' %}"></a>
    <div class="sidebarSeparator"></div>
    <div id="sidebarToggle" class="sidebarDiv">
        <img src="{% static 'img/chevrons-left.svg' %}" alt="Hide/Show sidebar">
    </div>
    <div class="sidebarSeparator"></div>
    <nav class="sidebarNav">
        <ul>
            <li class="sidebarRow">
                <img src="{% static 'img/activity.svg' %}" alt="activity">
                <p>Activity</p>
                <ul class="sidebarNested">
                    <li>
                        <a class="sidebarRow" href="/">
                            <img src="{% static 'img/activity.svg' %}" alt="dashboard">
                            <p>Dashboard</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebarRow">
                <img src="{% static 'img/sliders.svg' %}" alt="declaration">
                <p>Declaration</p>
                <ul class="sidebarNested">
                    <li>
                        <a class="sidebarRow" href="/declaration/host/">
                            <img src="{% static 'img/server.svg' %}" alt="Hosts">
                            <p>Hosts</p>
                        </a>
                    </li>
                    <li>
                        <a class="sidebarRow" href="/declaration/hosttemplate/">
                            <img src="{% static 'img/hosttemplate.svg' %}" alt="Host Templates">
                            <p>Host Templates</p>
                        </a>
                    </li>
                    <li>
                        <a class="sidebarRow" href="/declaration/metric/">
                            <img src="{% static 'img/cpu.svg' %}" alt="Metrics">
                            <p>Metrics</p>
                        </a>
                    </li>
                    <li>
                        <a class="sidebarRow" href="/declaration/metrictemplate/">
                            <img src="{% static 'img/metrictemplate.svg' %}" alt="Metric Templates">
                            <p>Metric Templates</p>
                        </a>
                    </li>
                    <li>
                        <a class="sidebarRow" href="/declaration/check/">
                            <img src="{% static 'img/terminal.svg' %}" alt="Checks">
                            <p>Checks</p>
                        </a>
                    </li>
                    <li>
                        <a class="sidebarRow" href="/declaration/globalvariable/">
                            <img src="{% static 'img/variable.svg' %}" alt="Global variables">
                            <p>Global Variables</p>
                        </a>
                    </li>
                    <li>
                        <a class="sidebarRow" href="/declaration/contact/">
                            <img src="{% static 'img/user.svg' %}" alt="Contacts">
                            <p>Contacts</p>
                        </a>
                    </li>
                    <li>
                        <a class="sidebarRow" href="/declaration/contacttemplate/">
                            <img src="{% static 'img/contacttemplate.svg' %}" alt="Contact Templates">
                            <p>Contact Templates</p>
                        </a>
                    </li>
                    <li>
                        <a class="sidebarRow" href="/declaration/timeperiod/">
                            <img src="{% static 'img/calendar.svg' %}" alt="Time Periods">
                            <p>Time Periods</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebarRow">
                <img src="{% static 'img/settings.svg' %}" alt="settings">
                <p>Settings</p>
                <ul class="sidebarNested">
                    <li>
                        <a class="sidebarRow" href="/settings/general">
                            <img src="{% static 'img/settings.svg' %}" alt="General Settings">
                            <p>General Settings</p>
                        </a>
                    </li>
                    <li>
                        <a class="sidebarRow" href="/settings/account">
                            <img src="{% static 'img/user.svg' %}" alt="Account Settings">
                            <p>Account Settings</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="topbar" id="topbar">
    <div></div>
    <div class="topbarRight">
        <a href="/logout">
            <img src="{% static 'img/logout.svg' %}" alt="Logout">
        </a>
    </div>
</div>

<div class="content" id="content">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}